@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body
{
    min-height:100vh;
    overflow-x:hidden;
    font-family:Poppins,sans-serif;
}

img.bg
{
    min-width:100vw;
    min-height:100vh;
    object-fit:cover;
    position:fixed;
    top:0;
    z-index:-1;
}
