
    <header class="menu">

        <nav>
            <a href="/">
                <img class="logo" src="/images/quizpool.png" alt="">
            </a>
        </nav>

        <nav>
            <a href="/quizzes" class="nav_item">Quizzes</a>
            <a href="/about" class="nav_item">About</a>
            <i style="color:var(--bg-primary);" class="hammenu fa-solid fa-bars"></i>
        </nav>
        

    </header>