<div class="searchbar">
    <form action="/quiz/search" method="post">
        <input type="search" name="query" placeholder="Search" maxlength="40" required>
        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>
