<%-include("partials/header");%>
<%-include("partials/navbar");%>


<header class="quizzesNavMobile">
    <nav class="mobile">
        <div style="display:flex; justify-content: space-around; align-items: center;">
            <a style="background:var(--bg-secondary); width:50%; color:white; text-align:center; padding:10px;" href="/quizzes">Quizzes</a>
            <a style="background:var(--bg-secondary); width:50%; color:white; text-align:center; padding:10px;" href="/about">About</a>
        </div>
    </nav>
</header>


    <section class="hero">

        <div class="hero_content" style="overflow: hidden;">
            <h1>Test your skills</h1>
            <h1>with QUIZPOOL</h1>
            <p>quizzes can help you practising existing knowledge while stimulating interest in learning about new subject matter.</p>
            <a href="/quizzes" class="btn">
                Start Quiz
            </a>            
        </div>

        <div class="hero_img">
            <img src="images/hero_img.jpg" alt="quizpool_website_hero_section_image">
        </div>

    </section>

<%-include("partials/footer");%>